/drawing/
/vir_geo_23/
/keep/
/answer/
/codes/gravity/data_out/
/codes/gravity/image_out/
/codes/gravity/keep/
SCG_project
/docker/
/codes/seismic/data/modeling/
/codes/GPR/data/
/codes/GPR/keep/
/codes/seismic/npy_folder/